@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
    --font-oswald: 'Oswald';
    --color-main: #2f2f2f;
    --color-primary: #e7000b;
    --color-secondary: #ff6467;
    --color-text-secondary: #d1d5dc;
    --color-my-border: #757575;
}
